@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
  padding: 0;
  margin: 0;
}

#c{
  text-align: center;
  position: relative;
  transition :all .5s;
  color: #000;
  overflow: hidden;
}

.i1{
  height:100vh;
  width:100%;
  position: relative;
  opacity: 0.9;
  transform-origin: 50% 50%;
  transition: transform 30s ease-in-out;
  animation:move 30s infinite ease-in-out;
}
@keyframes move{
0%{
 transform: scale(1) rotate(0deg);
}
  50%{
   transform: scale(1.1) rotate(0.1deg);

  }

}

.i2{
  position: absolute;
  left:45%;
  top:60px;
}


.v1{
/*color:white;*/
font-size: 1rem;
word-spacing: 0.50rem;
font-weight: 40;
letter-spacing: 0.2em;
position: absolute
left:48;
text-shadow: blue;
}
.v2{
/*  color:white;*/
  font-family: 'Cinzel', serif;
  font-size: 80px;
  font-weight:35;
  letter-spacing: 0.1em;
  position: absolute;
  text-decoration-color: blue;
  text-shadow: darkblue;
  left:18%;
  bottom:15%;
}
.v3{
  /*color:white;*/
  font-family:  'Cinzel', serif;
  font-size:50px;
  font-weight: 25px;
  letter-spacing: 0.1em;
  position: absolute;
  bottom:1%;
  left:22%;
}

.content{
  position: absolute;
top:42%;
left:20%;
right:20%;
bottom:25%;
}

.f1{
/*  color:white;*/
  font-family: 'Satisfy',cursive;
  font-size: 23px;
  position: absolute;
  bottom: 7%;
  left:40%;
  letter-spacing: 0.1em;
}
.page2{
  height: 600px;
  margin: 0;
margin-top: 0px;
background: linear-gradient(to bottom, #ffffff 0%, #d7e1ec 74%);

}
.v4{
  border-left: 0.6px solid Black;
 height: 55px;
 margin-top: 10%;
 margin-left: 50%;
 opacity: 0.6;

}
.v5{
  margin-top: 2%;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.2em;
  opacity:0.6;
}

h4{

  font-size: 3em;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: normal;
  margin-top: 1%;
  margin: 0px;
}
h5{
  font-size: 3em;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: normal;
  margin-top: 50px;
  margin: 0px;
}
.m3{
  color: dark-gray;
  font-family: 'EB Garamond', serif;
  text-align: center;
  margin-left:25%;
  margin-right: 25%;
  font-size: 1.2rem;
  word-spacing: 0.2rem;
  letter-spacing: 0.05em;
}
.v6{
  font-size: 0.8rem;
  letter-spacing: 0.2em;
  margin-left: 43%;
  margin-top: 5%;
}
.v6 a{
  color: brown;
}
.page3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height:  100vh;
  background: #232427
}
 #c2{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
  max-width :1200px;
  margin: 40px 0;
}
  #c2 .card{
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow:inset 5px 5px 5px rgba(0,0,0,0.2),
  inset -5px -5px 15px rgba(255,255,255,0.1),
  5px 5px 15px rgba(0,0,0,0.3),
  -5px -5px 15px rgba(255,255,255,0.1);
  border-radius: 15px;
  margin:30px;
}
#c2 .card::before{
  content: "";
  position: absolute;
  top:o;
  left: 0;
  width:50%;
  height: 100%;
  background: rgba(255,255,255,0.1);

}
 #c2 .card .box{
   position: absolute;
  top:20px;
  left:20px;
  right:20px;
  bottom:20px;
  background: #2a2b2f;
  border:2px solid #1e1f23;
  border-radius:15px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}
#c2 .card .box::before{
  content: "";
  position: absolute;
  top:o;
  left: 0;
  width:50%;
  height: 100%;
  background: rgba(255,255,255,0.05);
  pointer-events: none;

}

#c2 .card .box:hover{
  transform: translateY(-50px);
  box-shadow: 0 40px 50px rgba(0,0,0,0.5);
}

#c2 .card .box .content{
padding: 10px;
position: static;
  text-align:center;

}
#c2 .card .box .content h1{
  position: absolute;
  top:-110px;

  right: 13px;
  font-size: 8em;
  color: rgba(255,255,255,0.05);
}
#c2 .card .box .content h2{
  font-size: 1.8em;
  color: rgba(255,255,255,0.5);
  z-index: 1;
  transition: 0.5s;
  }
  #c2 .card .box .content p{
    font-size:16px;
    font-weight: 300;
    color:rgba(255,255,255,0.5);
    z-index: 1;
    transition: 0.5s;
  }
  #c2 .card .box .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #000;
    margin-top: 15px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 400;
    color:#fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  }
  #c2 .card:nth-child(1) .box .content a{
    background: #2196f3;
  }
  #c2 .card:nth-child(2) .box .content a{
    background: #e91e63;
  }
  #c2 .card:nth-child(1) .box .content a{
    background: #97dc47;
  }
 #c3{
    margin: 0;
  width: 100%;
  background: linear-gradient(to bottom, #ffffff 0%, #d7e1ec 74%);
  }
 #v7{
  width:418px;
  height: 600px;
  margin: 0;
  position: relative;
}
.m5{
  position: absolute;
  left: 30px;
  bottom: 80px;
  color: white;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 0.1em;
}
.m6{
  position: absolute;
  left:30px;
  bottom: 70px;
  color: white;
  font-size:15px;
  font-weight: 300;
  letter-spacing: 0.1em;
}
 .c4{
 width:73%;
 float: right;
 margin:0;
 overflow: hidden;
 margin-bottom: 60px;
   background: linear-gradient(to top, #ffffff 0%, #d7e1ec 74%);
}

.c5{
  float: left;
  width:27%;
  margin: 0px;
  position: relative;
  margin-bottom: 30px;
}

.v8{
  border-left: 0.6px solid Black;
 height: 55px;
 margin-top: 10%;
 margin-left: 50%;
 opacity: 0.6;

}
.v9{
  margin-top: 2%;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.2em;
  opacity:0.6;
}

.v10 h4{

  font-size: 3em;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: normal;
  margin-top: 1%;
  margin: 0px;
}
.v11 h5{
  font-size: 3em;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: normal;
  margin-top: 50px;
  margin: 0px;
}
.v12{
  color: dark-gray;
  font-family: 'EB Garamond', serif;
  text-align: center;
  margin-left:25%;
  margin-right: 25%;
  font-size: 1.2rem;
  word-spacing: 0.2rem;
  letter-spacing: 0.05em;
}
.v13{
  font-size: 0.8rem;
  letter-spacing: 0.2em;
  margin-left: 46%;
  margin-top: 5%;
}
.v13 a{
    color:brown;
}

#c6{
position: relative;
width: 1100px;
display: flex;
flex-wrap: wrap;
margin-bottom: 30px;
}
#c6 .box2{
  position: relative;
  width: 275px;
  height: 275px;
  overflow: hidden;
  transition: 0.5s;
}
#c6 .box2 :hover
{
  z-index: 1;
  transform: scale(1.1);
  box-shadow: 0 25px 40px rgba(0,0,0,0.5);

}
#c6 .box2 .imgbox{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width:100%;
  object-fit:cover;
}
#c6 .box2 .imgbox::before{
  content: '';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index:1;
  background: linear-gradient(180deg,#f00,#000);
  mix-blend-mode: multiply;
  opacity: 0;
  transition: 0.5s;
}
#c6 .box2:hover .imgbox:before{
  opacity: 1;
}
#c6 .box2 .imgbox img{
  position: absolute;
  top:0;
  left:0;
  object-fit: cover;
  width: 275px;
height: 275px;
}
#c6 .box2 .content2
{
  position: absolute;
  bottom:0;
  left:0;

  width: 100%
  height:100%;
  z-index: 2;
  display: flex;
  padding: 20px;
  align-items: flex-end;
}
#c6 .box2 .content2 h7
{
  color:#fff;
  transition: 0.5s;
  text-transform: uppercase;
  margin: 7px;
  font-size: 20px;
  transform:translateY(200px);
display: none;
}
#c6 .box2 :hover.content2 h7
{
  transform: translateY(0);
  transition-delay: 0.5s;
display: block;
}
#c6 .box2 .content2 p{
  color:#fff;
  transform: translateY(200px);
  transition: 0.5s;
  font-size: 12px;
  margin:10px;
}
#c6 .box2 :hover.content2 p{
  transform: translateY(0);
  transition-delay: 0.6s;
}
.text1{
  float:left;
  width: 71.7%;
  background-color: grey;
  height: 490px;
    background: linear-gradient(to left bottom,#ffffff 0%, #d7e1ec 74%);
    overflow-y: hidden;
    margin-bottom: 30px;
}

.t1{
  border-left: 0.6px solid Black;
 height: 55px;
 margin-top: 7%;
 margin-left: 50%;
 opacity: 0.6;

}
.t2{
  margin-top: 2%;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.2em;
  opacity:0.6;
}

.t3 h4{

  font-size: 3em;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: normal;
  margin-top: 1%;
  margin: 0px;
}
.t4 h5{
  font-size: 3em;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: normal;
  margin-top: 50px;
  margin: 0px;
}
.t5{
  color: dark-gray;
  font-family: 'EB Garamond', serif;
  text-align: center;
  margin-left:25%;
  margin-right: 25%;
  font-size: 1.2rem;
  word-spacing: 0.2rem;
  letter-spacing: 0.05em;
}

.verimg{
  float:right;
width: 28.3%;
padding: 0;
margin: 0;
}
.verimg .imgup{
  margin: 0px;

}
.verimg .imgdown{
  margin-bottom: 30px;

}

.page5{
  position: relative;
  margin-top: 555px;
  height: 100vh;
  color:  #ffffff;
  background: linear-gradient(to left bottom,#7F8C8D 30%, #000000 50%);
  margin-bottom: 30px;
}
.p1{
  border-left: 0.6px solid #000;
  height: 20px;
 padding-top: 7%;
 margin-left: 50%;
 opacity: 0.6;
}
.p2{
  margin-top: 2%;
  text-align: center;
  font-size: 15px;
  letter-spacing: 0.2em;
  opacity:0.6;
}

.p3 h4{

  font-size: 3em;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: normal;
  margin-top: 1%;
  margin: 0px;
}
.p4 h5{
  font-size: 3em;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: normal;
  margin-top: 50px;
  margin: 0px;
}
.p5{
  color: dark-gray;
  font-family: 'EB Garamond', serif;
  text-align: center;
  margin-left:25%;
  margin-right: 25%;
  font-size: 1.4rem;
  word-spacing: 0.2rem;
  letter-spacing: 0.05em;
  margin-bottom: 3%;
}
.p6{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.p6 a{
  position: relative;
  padding: 10px 30px;
  margin: 0 25px;
  color:#21ebff;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-size: 20px;
  transition: 0.5s;
}
.p6 a:hover{
  background: #21ebff;
  color: #111;
  box-shadow: 0 0 50px #21ebff;
  transition-delay: 0s;
}
.p6 a::before
{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 10px;
  height:10px;
  border-top:  2px solid #21ebff;
  border-left: 2px solid #21ebff;
    transition: 0.5s;
}
.p6 a:hover:before{
  width: 100%;
  height:100%;
}
.p6 a::after
{
  content: '';
  position: absolute;
  bottom:0;
  right: 0;
  width: 10px;
  height:10px;
  border-bottom:  2px solid #21ebff;
  border-right: 2px solid #21ebff;
    transition: 0.5s;
}
.p6 a:hover:after{
  width: 100%;
  height:100%;
  transition-delay: 0s;
}

.page7{
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #000;
}

p.p8{
    writing-mode:vertical-rl;
    font-size: 35px;
    font-weight: 400;
    display: inline-block;
    color:#fff;
}
#c8{
  display: inline-flex;
  height: 100vh;
  align-items: center;
  background: #000;
padding-top: 50px;
padding-bottom: 50px;
padding-left: 20px;
justify-content: center;
position: relative;
}
#c8 img{
  padding:5px;
  padding-bottom: 0;
  transform-origin: center;
  transform:perspective(800px) rotateY(20deg);
  transition: 0.5s;
  -webkit-box-reflect:below 1px linear-gradient(transparent,transparent,#000f);
  position: relative;

}
#c8:hover img{
  opacity: 0.1;
}
#c8 img:hover{
  transform: perspective(800px) rotateY(0deg);
  opacity: 1;
}
.end{
  height:80vh;

  background: linear-gradient(to top, #2b4162 0%, #12100e 74%);


color:#fff;
}
.end1{
  display: flex;
  padding-top: 6%;
  padding-left: 5%;
  padding-bottom: 6%;
}
.l1{
  width:150px;
  height: 122px;
}
.l2,.l3,.l4{
display: inline-block;
padding-left: 6%;
}
.l5{
margin-top:2%;
margin-left: 23%;
}
ul li{
  list-style: none;
  padding-top:20px;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: white
  text-decoration:none;
}
.e1,.e2,.e3 {
font-size: 17px;
font-weight: 200;
margin-bottom: 30px;
letter-spacing: 0.2em;
font-family: 'EB Garamond', serif;
}
.e4{
  padding-left: 5px;
  transition: 0.5s;
}

.e5{
  letter-spacing: 3px;
}
hr{
width:82%;
opacity: 0.3;
}
.end2{
  margin-top: 5%;
}
.end3{
  float:left;
  padding-left: 9%;
}
.end4{
  float:right;
  padding-right: 9%;
}
.q1,.q2,.q3,.q4{
  padding-right: 7px;
}
.q5{
  padding-right: 20px;
}



  c,.top-right{
  cursor: pointer;
  position: absolute;
  right: 130px;
  top: 110px;
}
.bar0{
color: #000;
display: inline-block;

}
.bar{
display: inline-block;
margin-left: 15px;
}
.bar1{
  width:45px;
}
 .bar1, .bar2, .bar3 {
  width: 35px;
  height: 3px;
  color: #000;
  background-color: #000;
margin-top: 8px;
}


  .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }

  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }

  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }

  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }

  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
